@import "../../styles/_variables.scss";

.navbar {
  background-color: $primary-color;
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  li {
    margin: 0 1rem;
  }
}
